html, body {
  overflow: auto;  
  color: teal;
}

* {
/*   animation: none !important; */
}

.butterfly {
  position: absolute;
  width: 69vmin;
  height: 69vmin;
  transform: scale(.169);
  margin-top: -6.9%;
  margin-left: 6.9%;
}

.butterfly div {
  position: absolute;
  box-sizing: border-box;
}

.b {
  border: 0.69vmin solid;
}

.r {
  border-radius: 69%;
}

.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}

/****/
.butterfly {
  --body: #cddc39;
}

.antenna, 
.body {
  width: 3%;
  height: 3%;
  background: var(--body);
  top: 31%;
  left: 50%;
  transform: translate(-51%, -51%);
}

.body::before {
  width: 60%;
  height: 1000%;
  background: var(--body);
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
}

.body::after {
  width: 150%;
  height: 400%;
  background: var(--body);
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
}

.antenna {
  box-shadow: 
    -4.1vmin -9.1vmin 0 -1vmin var(--body),
    4.1vmin -9.1vmin 0 -1vmin var(--body);
}

.antenna::after,
.antenna::before {
  width: 150%;
  height: 350%;
  border-radius: 69%;
  left: 80%;
  bottom: 19%;
  border: 0.25vmin solid transparent;
  border-left: 0.5vmin solid var(--body);
  transform: rotate(20deg);
}

.antenna::after {
  border-left: 0.5vmin solid transparent;
  border-right: 0.5vmin solid var(--body);
  transform: rotate(-20deg);
  left: -135%;
}

@keyframes wingTopFlap1 {
  0%, 100% { transform: rotate(-12deg) rotate3d(0, 0, 0, 10deg); }
  50% { transform: rotate(-12deg) rotate3d(0, 1, 0, 50deg); }
}

@keyframes wingTopFlap2 {
  0%, 100% { transform: scaleX(-1) rotate(-12deg) rotate3d(0, 0, 0, 10deg); }
  50% { transform: scaleX(-1) rotate(-12deg) rotate3d(0, 1, 0, 50deg); }
}

.wing-top {
  top: .69%;
  width: 50%;
  height: 45%;
  left: -0.125%;
  background: linear-gradient(gold, green);
  border-radius: 20% 100% 10% 80%;
  transform-origin: right bottom;
  transform: rotate(-12deg);
  box-shadow: 
    inset 6.9vmin .69vmin 0 .69vmin,
    inset -.69vmin 0 0 .69vmin;
  animation: wingTopFlap1 2s linear infinite;
  overflow: hidden;
}

.wing-top::after {
  width: 120%;
  height: 90%;
  border-radius: 69%;
  transform: rotate(31deg);
  left: 31%;
  top: -6.9%;
  box-shadow: inset .69vmin -.69vmin;
}

.wing-top::before {
  width: 69%;
  height: 69%;
  transform: rotate(0deg);
  top: 69%;
  border-radius: 69% 69% 69% 69%;
  box-shadow: -.69vmin -0.69vmin 0 .69vmin;
}

.wing-top ~ .wing-top {
  left: 0;
  transform: scaleX(-1) rotate(-12deg);
  animation: wingTopFlap2 2s linear infinite;
}

.dots {
  width: 2vmin;
  height: 2vmin;
  background: gold;
  color: gold;
  left: 5%;
  top: 10%;
  box-shadow: -0.5vmin 3vmin,
    -0.5vmin 6vmin 0 0.125vmin,
    1.5vmin -2.25vmin gold,
    3.5vmin -3vmin 0 -0.5vmin,
    18vmin 7vmin 0 2vmin gold,
    7.25vmin 0 3vmin
}

@keyframes wingBottomFlap1 {
  0%, 100% { transform: rotate(55deg) rotate3d(0, 0, 0, 10deg); }
  50% { transform: rotate(55deg) rotate3d(1, 1, 0, 50deg); }
}

@keyframes wingBottomFlap2 {
  0%, 100% { transform: scaleX(-1) rotate(55deg) rotate3d(0, 0, 0, 10deg); }
  50% { transform: scaleX(-1) rotate(55deg) rotate3d(1, 1, 0, 50deg); }
}

.wing-bottom {
  width: 28%;
  height: 40%;
  background: linear-gradient(95deg, gold, green);
  border-radius: 100% / 125% 125% 70% 50%;
  transform-origin: right top;
  transform: rotate(55deg);
  top: 59%;
  left: 27.5%;
  box-shadow: inset 1vmin -2vmin 0 0.5vmin;
  animation: wingBottomFlap1 2s linear infinite;
  overflow: hidden;
}

.wing-bottom ~ .wing-bottom {
  transform: scaleX(-1) rotate(55deg);
  left: auto;
  right: 55.5%;
  animation: wingBottomFlap2 2s linear infinite;
}

.wing-bottom::before {
  width: 100%;
  height: 100%;
  left: 55%;
  top: -30%;
  border-radius: 50%;
  box-shadow: -0.69vmin 0.69vmin gold,
    -0.69vmin 0.69vmin 0 .69vmin green,
    -.69vmin .69vmin 0 0.69vmin teal
}

.wing-bottom::after {
  width: 3vmin;
  height: 3vmin;
  background: white;
  top: 69%;
  left: 15%;
  border-radius: 50%;
  box-shadow: 
    .69vmin 0.69vmin 0 -0.69vmin, 
    6.9vmin 0.69vmin 0 -0.69vmin gold,
    6.9vmin 6.9vmin 0 -0.69vmin gold,
    6.9vmin -6.9vmin 0 -0.69vmin,
    6.9vmin -6.9vmin 0 -0.69vmin gold
}
