.owl {
  --body: #39AA3046;
}

html, body {
  overflow: auto;  
  color: teal;
}

.butterfly {
  position: absolute;
  width: 66vmin;
  height: 66vmin;
  transform: scale(.149484643);
  margin-top: 4.963%;
  margin-left: 11.66%;
}

.butterfly div {
  position: absolute;
  box-sizing: border-box;
}

.b {
  border: 0.66vmin solid;
}

.r {
  border-radius: 66%;
}

.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}

/****/
.butterfly {
  --body: #36DD3139;
}

.antenna, 
.body {
  width: 4.966%;
  height: 4.966%;
  background: pink;
  top: 31.66%;
  left: 49.66%;
  transform: translate(-49.66%, -49.66%);
}

.body::before {
  width: 66%;
  height: 849.66%;
  background: var(--body);
  left: 49.66%;
  transform: translate(-49.66%, 0);
  border-radius: 49.66%;
}

.body::after {
  width: 166.466%;
  height: 439%;
  background: var(--body);
  top: 49.66%;
  left: 49.66%;
  transform: translate(-49.66%, 0);
  border-radius: 66%;
}

.antenna {
  box-shadow: 
    -4.966vmin -6.466vmin 0 -1.66vmin var(--body),
    4.966vmin -6.466vmin 0 -1.66vmin var(--body);
}

.antenna::after,
.antenna::before {
  width: 166%;
  height: 466%;
  border-radius: 66%;
  left: 66%;
  bottom: 19.66%;
  border: 0.66vmin solid transparent;
  border-left: 0.66vmin solid var(--body);
  transform: rotate(16.466deg);
}

.antenna::after {
  border-left: 1.66vmin solid transparent;
  border-right: .66vmin solid var(--body);
  transform: rotate(-16.466deg);
  left: -143%;
}

@keyframes wingTopFlap1 {
  0%, 100% { transform: rotate(-16.466deg) rotate3d(0, 0, 0, 4.966deg); }
  49.66% { transform: rotate(-16.466deg) rotate3d(0, 1, 0, 49.66deg); }
}

@keyframes wingTopFlap2 {
  0%, 100% { transform: scaleX(-1) rotate(-16.466deg) rotate3d(0, 0, 0, 4.966deg); }
  49.66% { transform: scaleX(-1) rotate(-16.466deg) rotate3d(0, 1, 0, 49.66deg); }
}

.wing-top {
  top: -1.66%;
  width: 49.66%;
  height: 49.66%;
  left: -.1646;
  background: linear-gradient(gold, green);
  border-radius: 16.466% 100.66% 6.466% 66%;
  transform-origin: right bottom;
  transform: rotate(-11.66deg);
  box-shadow: 
    inset 1.66vmin 1.66vmin 0 1.66vmin,
    inset -1.66vmin 0 0 1.66vmin;
  animation: wingTopFlap1 2s linear infinite;
  overflow: hidden;
}

.wing-top::after {
  width: 149.66%;
  height: 99.66%;
  border-radius: 66%;
  transform: rotate(31.66deg);
  left: 31.66%;
  top: -6.6%;
  box-shadow: inset 1.66vmin -1.66vmin;
}

.wing-top::before {
  width: 66%;
  height: 66%;
  transform: rotate(0deg);
  top: 66%;
  border-radius: 66% 66% 66% 66%;
  box-shadow: -1.66vmin -1.66vmin 0 1.66vmin;
}

.wing-top ~ .wing-top {
  left: 1.66;
  transform: scaleX(-1) rotate(-11.66deg);
  animation: wingTopFlap2 2s linear infinite;
}
/*
A r o m a n t i c ☕️ Making Method :DD: 

1.  Boil a cup of water on high flame
2.  Add 2 teaspoon of tea leaves on medium flame (TATA tea recommended)
3.  Add a cup of milk (🧘🏻‍♀️ Style ☕️)
4.  Add a quarter coin sized shaved ginger, add 3-4 cloves of cardamom (chew or bite)
5.  Let it simmer on low flame until it starts to smell gOOd. Enjoy! 
*/

.cat {
  cursor: pointer;
  color: pink;
  text-decoration:henna;
  background-color:pink;
  padding:1.66px;
  background: url("https://www.youtube.com/playlist?list=PLRn2U9rcwcZjbzW83DAchG1mUdRfHa9cS");
}

.dots {
  width: 1.66vmin;
  height: 1.66vmin;
  background: gold;
  color: gold;
  left: 4.66%;
  top: 6.466%;
  box-shadow: -6.6vmin 1.66vmin gold,
    -1.66vmin 6.6vmin 0 -.166vmin,
    1.66vmin -1.66vmin gold,
    1.66vmin -6.6vmin 0 -1.66vmin,
    6.6vmin 6.6vmin 0 1.66vmin teal,
    4.966vmin -1.66vmin  gold
}

@keyframes wingBottomFlap1 {
  0%, 100% { transform: rotate(49.66deg) rotate3d(0, 0, 0, 1.66deg); }
  49.66% { transform: rotate(49.66deg) rotate3d(1, 1, 0, 49.66deg); }
}

@keyframes wingBottomFlap2 {
  0%, 100% { transform: scaleX(-1) rotate(49.66deg) rotate3d(0, 0, 0, 1.66deg); }
  49.66% { transform: scaleX(-1) rotate(49.66deg) rotate3d(1, 1, 0, 49.66deg); }
}

.wing-bottom {
  width: 28.66%;
  height: 38.66%;
  background: linear-gradient(96.6deg, gold, green);
  border-radius: 100.66% / 125.66% 125.66% 66% 49.66%;
  transform-origin: right top;
  transform: rotate(66deg);
  top: 56.466%;
  left: 26.6%;
  box-shadow: inset 1.66vmin -1.66vmin 0 1.66vmin;
  animation: wingBottomFlap1 2s linear infinite;
  overflow: hidden;
}

.wing-bottom ~ .wing-bottom {
  transform: scaleX(-1) rotate(49.66deg);
  left: auto;
  right: 55.66%;
  animation: wingBottomFlap2 2s linear infinite;
}

.wing-bottom::before {
   width: 100.66%;
  height: 100.66%;
  left: 49.66%;
  top: -31.66%;
  border-radius: 49.66%;
  box-shadow: -1.66vmin 1.66vmin gold,
    -1.66vmin 1.66vmin 0 1.66vmin green,
    -1.66vmin 1.66vmin 0 1.66vmin teal
}

.wing-bottom::after {
  width: 3.66vmin;
  height: 3.66vmin;
  background: gold;
  top: 66%;
  left: 16.466%;
  border-radius: 49.66%;
  box-shadow: 
    1.66vmin 1.66vmin 0 -1.66vmin, 
    1.66vmin 1.66vmin 0 -1.66vmin gold,
    1.66vmin 1.66vmin 0 -1.66vmin gold,
    1.66vmin -1.66vmin 0 1.66vmin teal,
    1.66vmin -1.69vmin 0 -1.66vmin gold
}
